<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>About us</title>

    <style>
        a{
            font-family: sans-serif;
        }

        h1 {
          font-family:cooper;
        }

        body {
            background-color: #f7f6e7;
        }
        .btn, .myBtn{
            color:#ffffff;
            border-radius:20px;
            background-color:#f2a154;
            margin: 15px 15px 15px 0px;
            border: 0px;
          }
        /* footer start*/
        footer {
            padding: 10px 30px;
            background-color:#f2a154;

          }
        .btnStyle {
            border-radius: 30px ;
          }
        /* footer ended*/
        
        /* Navbar css start*/
        #brandlogo{
            font-family: Cooper;
            color: white;
        }
        .navbar{
            background-color: #314e52;
        }
        .navbar-light .navbar-nav .nav-link {
            color: white;
        }
        #brandlogo:hover{
            color: #f2a154;
        }
        .navbar-light .navbar-nav .nav-link:hover{
            color: #f2a154;
        }
        .navbar-light .navbar-nav .nav-link:focus{
            color: white;
        }
        .dropdown-item:focus, .dropdown-item:hover {
            color: white;
            background-color: #f2a154;
        }
         /* Navbar css ended*/
        .card img, .card{
            border: none;
            width: 12rem;
            margin: auto;
            background-color: #f7f6e7;
        }
        @media screen and (max-width: 1024px) {
            .card img{
              width: 10rem;
              margin: auto;
            }

        }
        

    </style>
</head>
<body>
    <!-- NAV BAR -->
    <nav id="Navbar"class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/"> <h1 id="brandlogo">90's Taste</h1> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="aboutus">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAV BAR -->
    <div class="container" class="addition">
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-start">
              <a class="p-2 link-secondary" href="#dev">Developers</a>
              <a class="p-2 link-secondary" href="#ourshop">Our shop</a>
              <a class="p-2 link-secondary" href="#awards">Awards</a>
              <a class="p-2 link-secondary" href="#social">Social media</a>
              
            </nav>
          </div>
    </div>
    <!-- Header -->
    <div class="container">
        <div class="p-4 p-md-5 mb-4 text-white rounded " style="background-image: url(https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/bg.JPG?raw=true)">
            <div class="col-md-6 px-0">
              <h1 class="display-4 fst-italic">90's taste</h1>
              <p class="lead my-3">We are the biggest 90's online shop. We are selling Cassette tape, Vinyl, and Films</p>
              <a href="#ourshop" class="text-white fw-bold">More details</a>
            </div>
        </div>
    </div>
    <!-- Header ended -->

    <!-- Developers -->
      <div class="container" id="dev">
          <h1 class="pb-4 mb-4 border-bottom">Developers</h1>
      </div>
      <div class="container">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h4 class="mb-0">PRANUNGFUN<br>PRAPAENEE </h4>
                  <div class="mb-1 ">(Pin)</div>
                  <!-- <p class="card-text mb-auto">wait for more details</p> -->
                  <p class="text-muted">Email: pranungfun.pra@student.mahidol.ac.th</p>
                </div>
                <div class="col-auto d-flex d-lg-block m-auto">
                    <img src="https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/profileImage/Pin.jpg?raw=true" alt="Pin" width="203" height="322">
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0">PONGSAKORN<br>PIBOONPONGPUN</h4>
                    <div class="mb-1 ">(Mark)</div>
                    <!-- <p class="card-text mb-auto">wait for more details</p> -->
                    <p class="text-muted">Email: pongsakron.pib@student.mahidol.ac.th</p>
                  </div>
                  <div class="col-auto d-flex d-lg-block m-auto">
                    <img src="https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/profileImage/Mark.jpg?raw=true" alt="Mark" width="203" height="322">
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0">SHAN LI</h4>
                    <div class="mb-1 ">(Alina)</div>
                    <!-- <p class="card-text mb-auto">wait for more details</p> -->
                    <p class="text-muted">Email: shan.li@student.mahidol.ac.th</p>
                  </div>
                  <div class="col-auto d-flex d-lg-block m-auto">
                    <img src="https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/profileImage/Alina.jpg?raw=true" alt="Alina" width="203" height="322">
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h4 class="mb-0">LUXI XIE</h4>
                    <div class="mb-1 ">(Mandy)</div>
                    <!-- <p class="card-text mb-auto">wait for more details</p> -->
                    <p class="text-muted">Email: luxi.xie@student.mahidol.ac.th</p>
                  </div>
                  <div class="col-auto d-flex d-lg-block m-auto">
                    <img src="https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/profileImage/Mandy.jpg?raw=true" alt="Mandy" width="203" height="322">
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0">Nopparat <br>Pengsuk</h3>
                    <div class="mb-1 ">(Baby)</div>
                    <!-- <p class="card-text mb-auto">wait for more details</p> -->
                    <p class="text-muted">Email: nopparat.pen@student.mahidol.ac.th</p>
                  </div>
                  <div class="col-auto d-flex d-lg-block m-auto">
                    <img src="https://github.com/itsmebabysmiley/Online-shopping/blob/main/image/profileImage/Baby.jpg?raw=true" alt="I' Boo" width="203" height="322">
                  </div>
                </div>
            </div>
        </div>
      </div>
        <br>
        <br>
    <!-- Developers ended  -->

    <!-- Blog -->
      <div class="container">
        <div class="row">
          <div class="col-md-8">
              <h1 class="pb-4 mb-4 border-bottom" id="ourshop"><strong>Our shop</strong></h1>
              <article class="blog-post">
                  <h2 class="blog-post-title">90's taste</h2>
                  <p class="blog-post-meta">ITCS212-Web Programming</p>
          
                  <p>This website was create for learning purpose only.</p>
                  <hr>
                  <p>Almost heaven, West Virginia
                    Blue Ridge Mountains, Shenandoah River
                    Life is old there, older than the trees
                    Younger than the mountains, growin' like a breeze</p>
                  <blockquote>
                    <p>Country roads, take me home
                      To the place I belong
                      West Virginia, mountain mama
                      Take me home, country roads</p>
                  </blockquote>
                  <p>All my memories gather 'round her
                    Miner's lady, stranger to blue water
                    Dark and dusty, painted on the sky
                    Misty taste of moonshine, teardrop in my eye</p>
                  <blockquote>
                    <p>Country roads, take me home
                      To the place I belong
                      West Virginia, mountain mama
                      Take me home, country roads</p>
                  <blockquote>
                    <p>I hear her voice in the mornin' hour, she calls me
                      The radio reminds me of my home far away
                      Drivin'
                    <p>I hear her voice in the mornin' hour, she calls me
                      The radio reminds me of my home far away
                      Drivin' down the road, I get a feelin'
                      That I should've been home…</p>
                    <h6><p class="text-muted">Take Me Home, Country Roads</p></h6>
                    <a href="https://www.youtube.com/watch?v=1vrEljMfXYo" style="color: #314e52;">John Denver</a>
                </article>
                <br>
                <br>
                <!-- AWARDS -->
                <h1 class="pb-4 mb-4 border-bottom" id="awards"><strong>Awards</strong></h1>
                <article class="blog-post">
                    <div class="card-group">
                        <div class="card">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/3112/3112946.svg?token=exp=1613717814~hmac=3c2f0aeafd85cde68c7a7e5d13aa8b44" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">We won awards in 2019</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/3176/3176367.svg?token=exp=1613717878~hmac=63f233a7c8703327ab5e57dc65dd2fef" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">We won awards in 2020</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/3112/3112946.svg?token=exp=1613717814~hmac=3c2f0aeafd85cde68c7a7e5d13aa8b44" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p class="card-text">We won awards in 2021</p>
                            </div>
                        </div>
                    </div>
                </article>
                <br>
                <br>
            </div>

            <!-- SOCIAL MEDIA -->
            <div class="col-md-4">
                <div class="p-4">
                    <i class="bi bi-github"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-facebook"></i>
                    <h1 class="border-bottom" id="social"><br>Social media</h1>
                    <ol class="list-unstyled">
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                        <a href="https://github.com/itsmebabysmiley/Online-shopping" style="color:#314e52"> GitHub</a></li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                          <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
                        </svg>
                        <a href="#" style="color:#314e52">Twitter </a></li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                          <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                        </svg>
                        <a href="#" style="color:#314e52">Facebook</a></li>
                    </ol>
                  </div>
            </div>
        </div>
        </div>
      <!-- Blog ended -->

      <!-- FOOTER -->
      <footer id="footer">
        
        <div class="large-6 medium-6 columns">
          <div class="container">
            <p><strong>Group 3</strong></p>
            <a href="#Navbar" class="btn btn-primary"style="background-color:#314e52;" > top</a>
            <p><span>Copyright © 2021 Group3.co.</span> <span>All Rights Reserved.</span></p>
          </div>
        </div>
    </footer>
      <!-- FOOTER ENDED -->    
  </body>
  </html>