<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Search page</title>

  <!-- CSS only -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous">

  <link rel="stylesheet" href="animationcss.css">
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <!-- axios -->
  <script
    src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    body {
      background-color: #f7f6e7;
    }

    h1,
    h3 {
      font-family: Cooper;
    }

    a {
      font-family: sans-serif;
    }

    p {
      color: #000000;
    }

    footer {
      padding: 30px;
      background-color: #f2a154;
    }

    button {
      border: 0px;
    }

    button:hover {
      color: #f2a154;
    }

    .btnStyle {
      border-radius: 30px;
    }

    .dropdown-item:active {
      background-color: #f2a154;
    }

    .btn,
    .myBtn {
      color: #ffffff;
      border-radius: 20px;
      background-color: #f2a154;
      /* margin: 15px 15px 15px 0px; */
      border: 0px;
    }

    .btn:hover {
      background-color: #314e52;
    }

    #brandlogo {
      font-family: Cooper;
      color: white;
      margin: 0px 15px 0px 0px;
    }

    .navbar {
      background-color: #314e52;
      margin: 0px 0px 0px 0px;
    }

    .navbar-light .navbar-nav .nav-link {
      color: white;
    }

    #brandlogo:hover {
      color: #f2a154;
    }

    .navbar-light .navbar-nav .nav-link:hover {
      color: #f2a154;
    }

    .navbar-light .navbar-nav .nav-link:focus {
      color: white;
    }

    .green:hover {
      box-shadow: 0 0 0 0rem rgb(49 78 82 / 25%);
      border-color: #314e52;
    }

    .green:focus {
      box-shadow: 0 0 0 0rem rgb(49 78 82 / 25%);
      border-color: #314e52;
    }

    input[type="checkbox"]:checked {
      background-color: #314e52;
    }

    .pin {
      border-radius: 30px;
      padding: 10px 20px 100px 50px;
    }
  </style>

</head>

<body>
  <!-- NAV BAR -->
  <nav
    class="navbar navbar-expand-sm navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h1 id="brandlogo">90's Taste</h1>
      </a>
      <button class="navbar-toggler" type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse"
        id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"
              href="/aboutus">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item"
                  href="http://localhost:3001/searchinfo/none/none/none">All
                  Products</a>
              </li>
              <div class="dropdown-divider"></div>
              <li>
                <a class="dropdown-item"
                  href="http://localhost:3001/searchinfo/none/none/'cassette'"">Cassette tape</a>
                    </li>
                    <li>
                      <a class=" dropdown-item"
                  href="http://localhost:3001/searchinfo/none/none/'vinyl'">Vinyl</a>
              </li>
              <li>
                <a class="dropdown-item"
                  href="http://localhost:3001/searchinfo/none/none/'film'">Films</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown" id="loginBtn">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false">
              Login
            </a>
            <ul class="dropdown-menu"
              aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item"
                  href="/login">Login</a></li>
              <li><a class="dropdown-item"
                  href="/register">Sign up</a></li>
            </ul>
          </li>
        </ul>
        <div id="profileBtn">
          <div class="collapse navbar-collapse">
            <ul
              class="navbar-nav mb-2 mb-lg-0 mt-1 ms-auto">
              <li class="nav-item">
                <a href="/profile">
                  <svg xmlns="http://www.w3.org/2000/svg"
                    width="25" height="25" fill="white"
                    class="bi bi-basket"
                    viewBox="0 0 16 16">
                    <path
                      d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAV BAR -->
  <!-- Search -->
  <div class="container" style="margin-top: 7rem;">
    <div class="card fadeInDown mx-auto"
      style="border-radius: 20px; margin: 100px 1000px; align-items: center;">
      <div class="card-body">
        <p class="card-text fadeIn first">
        <h1 style="text-align: center;">Search</h1>
        </p>
        <div class="input-group"
          style="width: 700px; height: 50px; align-items: center;">
          <!-- search lyrics     -->
          <button
            class="btn btn-outline-secondary fadeIn third"
            id="lyricsBtn">Search lyrics</button>
          <input id="search" type="text"
            class="green form-control fadeIn second"
            aria-label="Text input with segmented dropdown button"
            placeholder="Search Product">
          <button
            class="btn btn-outline-secondary fadeIn third"
            id="searchbtn" onclick="search()">
            <svg xmlns="http://www.w3.org/2000/svg"
              width="16" height="16" fill="currentColor"
              class="bi bi-search">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg></a>
            <button type="button"
              class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split fadeIn third"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              style="margin: 0px 20px 0px 0px;">
              <span class="visually-hidden">Toggle
                Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <div class="container d-flex">
                <div class="form-check form-check-inline">
                  <input class="green form-check-input"
                    type="checkbox" id="ASC" name="low-high"
                    value="ASC">
                  <label class="green form-check-label"
                    for="searchall">Low-high</label>
                </div>
                <div class="form-check">
                  <input class="green form-check-input"
                    type="checkbox" id="DESC"
                    name="high-low" value="DESC">
                  <label class="green form-check-label"
                    for="l2hbox">High-low</label>
                </div>

              </div>
              <hr class="dropdown-divider">
              <div class="container">
                <div class="form-check form-check-inline">
                  <input class="green form-check-input"
                    type="checkbox" id="cassette"
                    name="cassette" value="tape">
                  <label class="green form-check-label"
                    for="searchall">Cassette tape</label>
                </div>
                <div class="form-check">
                  <input class="green form-check-input"
                    type="checkbox" id="vinyl" name="vinyl"
                    value="vinyl">
                  <label class="green form-check-label"
                    for="l2hbox">Vinyl</label>
                </div>
                <div class="form-check">
                  <input class="green form-check-input"
                    type="checkbox" id="film" name="film"
                    value="film">
                  <label class="green form-check-label"
                    for="h2lbox">Film</label>
                </div>

              </div>
            </ul>
        </div>

      </div>
      <div class="pin container overflow-hidden"
        id="search-container">
        <div class="row gx-5">
          <div class="col">
            <div class="pin p-3 border bg-light"
              style="width: 400px; height: 300px;">
              <div class="pin card-body" id="searchlyrics">
                <h3 class="card-title">Search lyrics</h3>
                <div class="mb-3">
                  <label for="artist"
                    class="form-label">Artist</label>
                  <input name="artist" type="text"
                    class="green form-control" id="artist"
                    placeholder="Queen" required>
                </div>
                <div class="mb-3">
                  <label for="songtitle"
                    class="form-label">Title</label>
                  <input name="songtitle" type="email"
                    class="green form-control"
                    id="songtitle"
                    placeholder="Bohemian Rhapsody"
                    required>
                </div>
                <a class="btn" style="color: #ffffff;"
                  onclick="searchlyrics()">search</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="pin p-3 border bg-light"
              style="margin: 10px;">
              <h5 class="card-title" id="band"></h5>
              <p class="card-text" id="lyrics"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 250px;"></div>
  <!-- FOOTER -->
  <footer id="footer">
    <div class="large-6 medium-6 columns">
      <div class="container">
        <p><strong>Group 3</strong></p>
        <p><span>Copyright © 2021 Group3.co.</span>
          <span>All Rights Reserved.</span>
        </p>
      </div>
    </div>
  </footer>
  <!-- FOOTER ENDED -->

</body>
<script type="text/javascript">
  document.getElementById("search-container").style.display = "none";

  /*
    get value from input then check the condition.
      -sort by price can only checked once at the time.
      -if no input will search every products.
  */
  function search() {
    var input_search = document.getElementById("search").value; //get value from search box.
    var re = false;
    var input_check = document.querySelectorAll("input");
    var count_sortprice = 0;
    var sortByPrice = "none";
    var check_box = "";
    input_check.forEach((x) => {
      //get only check value
      if (x.checked) {
        if (x.name === "low-high" || x.name === "high-low") {
          count_sortprice++;
          if (count_sortprice == 2) {
            alert("please select only one sort price");
            re = true;
            return;
          }
        }
        if (x.name === "low-high") {
          sortByPrice = "ASC";
        } else if (x.name === "high-low") {
          sortByPrice = "DESC"
        }
        else check_box += `"${x.name}"` + ',';
      }
    });
    if (re) return;
    if (input_search === "") input_search = "none";
    //slice(0,-1); //remove last comma
    if (check_box !== "") check_box = check_box.slice(0, -1);
    else check_box = "none";
    var x = `/searchinfo/${input_search}/${sortByPrice}/${check_box}`;
    //console.log(x)
    //send query to result page.
    window.location.href = x;
  }
  /*
    click then show click again hide.
  */
  document.getElementById('lyricsBtn').addEventListener("click", () => {
    var searchlyricsBtn = document.getElementById("search-container");
    if (searchlyricsBtn.style.display == 'none') {
      searchlyricsBtn.style.display = 'block';
    } else {
      searchlyricsBtn.style.display = 'none'
    }

  });
  /**
  call public api from api.lyrics.ovh.
  it will return the lyrics. if not found, it will return 'not found'
  */
  async function searchlyrics() {
    var artist = document.getElementById("artist").value;
    var title = document.getElementById("songtitle").value;
    console.log(artist, title)
    axios.get(`https://api.lyrics.ovh/v1/${artist}/${title}`).then(data => {
      console.log(data.data.lyrics);
      var lyrics = data.data.lyrics;
      document.getElementById('band').innerHTML = title + '<hr/>By ' + artist;
      document.getElementById('lyrics').innerText = lyrics;
    })
      .catch(err => {
        console.log(err)
        document.getElementById('band').innerHTML = 'NOT FOUND';
        document.getElementById('lyrics').innerHTML = '';
      })
  }

  async function callserver(url, sentData = {}) {
    let data;
    let response = await fetch(url, {
      method: "GET",
    });
    data = await response.json();
    return data;
  }
  /*
    call server to get login status.
    if true, then show profile button on top right of the page
  */
  callserver('http://localhost:3001/getloginstatus')
    .then((data) => {
      var text = `<h3>Welcome ${data.data.username}</h3> <br />`
      //document.getElementById("userinfo").innerHTML = text;
      if (data.data.loginStatus) {
        document.getElementById("loginBtn").style.display = "none";
        document.getElementById("profileBtn").style.display = "block";
      } else {
        //document.getElementById("loginBtn").style.display = "block";
        document.getElementById("profileBtn").style.display = "none";
      }
    })
</script>

</html>